<p id="notice"><%= notice %></p>

<p>
  <strong>Colonia:</strong>
  <%= @casa.colonia %>
</p>

<p>
  <strong>Calle:</strong>
  <%= @casa.calle %>
</p>

<p>
  <strong>Numero casa:</strong>
  <%= @casa.numero_casa %>
</p>

<p>
  <strong>Superficie terreno:</strong>
  <%= @casa.superficie_terreno %>
</p>

<p>
  <strong>Superficie construccion:</strong>
  <%= @casa.superficie_construccion %>
</p>

<p>
  <strong>Banos:</strong>
  <%= @casa.banos %>
</p>

<p>
  <strong>Recamaras:</strong>
  <%= @casa.recamaras %>
</p>

<p>
  <strong>Cochera:</strong>
  <%= @casa.cochera %>
</p>

<p>
  <strong>Jardin:</strong>
  <%= @casa.jardin %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @casa.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @casa.descripcion %>
</p>

<%= link_to 'Edit', edit_casa_path(@casa) %> |
<%= link_to 'Back', casas_path %>
